<mat-tab-group>
	<mat-tab label="Camera 1">
		<div class="cardContainer">
			<div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutGap="10px" fxLayoutGap.sm="5px">

				<iframe class="mmCardVid" src="../../assets/videos/trespassing_output.mp4" allowfullscreen loop=1 autoplay=1></iframe>

			</div>
    <h3>Live Camera Feed</h3>
  </div>
	</mat-tab>
	<mat-tab label="Camera 2">
	<div class="cardContainer">
			<div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutGap="10px" fxLayoutGap.sm="5px">

				<iframe class="mmCardVid" src="../../assets/videos/trespassing_output.mp4" allowfullscreen loop=1 autoplay=1></iframe>

			</div>
    <h3>Live Camera Feed</h3>
  </div>
	</mat-tab>
	<mat-tab label="Camera 3">
		<div class="cardContainer">
			<div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutGap="10px" fxLayoutGap.sm="5px">

				<iframe class="mmCardVid" src="../../assets/videos/trespassing_output.mp4" allowfullscreen loop=1 autoplay=1></iframe>

			</div>
    <h3>Live Camera Feed</h3>
  </div>
	</mat-tab>
</mat-tab-group>
